.navbar {
    overflow: hidden;
    background: lightskyblue;
    position: fixed;
    top: -50;
    transition: top 0.3s;
    width: 100%;
}

#table_grados {
    margin-top: 30px;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #366379;
    color: white;
}

h1 {
    border-bottom: 1px solid grey;
    margin: 5px;
    padding: 5px;
    text-align: left;
    font-family: arial;
}

th {
    font-size: 18px;
    font-family: arial;
    background-color: #6DC7F3;
}

td {
    text-align: center;
    background-color: #E6E6E6;
    font-family: Helvetica;
    size: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

th,
td {
    padding: 15px;
}

img {
    height: 182px;
    width: 245px;
}

h2 {
    text-align: left;
    font-size: 22px;
    font-family: arial;
}

h2.grados,
h2.masters {
    text-align: center;
}

a {
    color: none;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}