<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Masters</title>
    <meta name="description" content="Listado de masters">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../static/img/Logo.png" type="image/png">
    <link rel="stylesheet" href="../static/css/stylesheet.css">
</head>
<body>
 <h1> MEJORES GRADOS Y MASTERS EN DATA SCIENCE </h1>
    <nav class="navbar" id="navbar">
        <a href="grados.html">Grados</a>
        <a href="masters.html">masters</a>
    </nav>


    </body>
    <script src="../js/grados.js"></script>
    <script src="../js/masters.js"></script>
    <script src="../js/main.js" async defer></script>
</html>